/*
haccing skill #2: view webpage's css files
*/
/*
for development:
upon making changes to this file, remember to
a) prettify it so you can actually read it. paste the result and make your changes
b) when you're satisfied, ensure you've prefixed it (--moz, --ms, and that kind of stuff) if needed
c) and then minify it so more fps amogos website omg sus

https://autoprefixer.github.io can help with b
duckduckgo search engine has pretty nice minify/prettify, just search "CSS minify" and bang

:]
*/
/* Base styles */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* Imports */
@import url("variables.css"); /* Contains variables, predefined colors, etc... */
@import url("buttons.css"); /* Contains .buttons, a, etc. */
@import url("layout.css"); /* Contains body, main, section, hr, header, footer */
@import url("navbar.css"); /* Contains nav, #menu, .overlay */
@import url("contributors.css"); /* Contains .coolboi, .bois */
@import url("features.css"); /* Contains styles for features */
@import url("media-queries.css"); /* why each sussy display has a different sice oh my lord */
@import url("sussify.css"); /* Contains specific styles for the downloads page */

/* Base styles */
* {
    -webkit-transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
    -o-transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
    transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Misc */
code {
    font-family: "Fira Code", monospace;
    background-color: var(--amog-black-transparent);
    border-radius: 4px;
    padding: 0.1em 0.5em;
    border: solid 2px var(--amog-green-transparent);
}

.download-list {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.support {
    width: calc(90% - 10px);
    border-radius: 10px;
    padding: 10px;
    border: solid 4px var(--amog-green-transparent);
}

#story .content {
    width: calc(90% - 10px);
    padding: 10px;
    font-size: 20px;
}

.animation {
    opacity: 0;
}

.scroll-animation {
    opacity: 1;
}