/* contributors page */
.bois {
    width: 90%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 10px;
}

.coolboi {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    padding: 1em;
    border-radius: 10px;
    border: solid 2px var(--amog-green-transparent);
    background-color: var(--amog-black-transparent);
    overflow: hidden;
    aspect-ratio: 1/1;
    -webkit-animation: coolboi-in 250ms cubic-bezier(0.6, 0, 0, 1);
            animation: coolboi-in 250ms cubic-bezier(0.6, 0, 0, 1);

    &.not1x1 {
        aspect-ratio: unset;
    }

    & a {
        color: #FFF;
        font-size: 1.5em;

        &:hover {
            color: var(--amog-blue);
        }

    }

    & .role {
        background-color: var(--amog-green);
        padding: 2px 10px;
        border-radius: 6em;
        font-size: 12px;
        font-weight: 500;
        color: var(--amog-black);
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    & img {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1.2);
            -ms-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
        -webkit-filter: brightness(0.5) blur(4px) grayscale(1);
                filter: brightness(0.5) blur(4px) grayscale(1);
        width: 100%;
        position: absolute;
        z-index: -1;
        -o-object-fit: cover;
           object-fit: cover;
    }

    & .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 1em;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        text-align: left;
    }

    &:hover, &:focus, &:focus-within {
        border: solid 2px var(--amog-green);

        & img {
            -webkit-filter: brightness(0.5) blur(2px) grayscale(0);
                    filter: brightness(0.5) blur(2px) grayscale(0);
            -webkit-transform: translate(-50%, -50%) scale(1);
                -ms-transform: translate(-50%, -50%) scale(1);
                    transform: translate(-50%, -50%) scale(1);
        }
    }
}

@-webkit-keyframes coolboi-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes coolboi-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}