/* Misc. */
body {
    background-color: var(--amog-blacky);
    color: #fff;
    font-family: "Poppins", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: hidden;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

section {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    width: 100vw;
    max-width: 1280px;
}

hr {
    width: 90%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--amog-blue)),
        to(var(--amog-green))
    );
    background-image: -o-linear-gradient(
        top left,
        var(--amog-blue),
        var(--amog-green)
    );
    background-image: linear-gradient(
        to bottom right,
        var(--amog-blue),
        var(--amog-green)
    );
}

/* Header */
header {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
    background-image: url(../img/sus-on-moon.jpg);
    background-position: 100% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 0 20px 0 #000;
    box-shadow: 0 0 20px 0 #000;
    text-align: center;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
}

header h1 {
    font-size: 70px;
}

header h1 span {
    font-size: 70px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--amog-green)),
        to(var(--amog-blue))
    );
    background-image: -o-linear-gradient(
        top left,
        var(--amog-green),
        var(--amog-blue)
    );
    background-image: linear-gradient(
        to bottom right,
        var(--amog-green),
        var(--amog-blue)
    );
    white-space: nowrap;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#toppat {
    position: relative;
    z-index: 2;

    & img {
        width: 64px;
        position: absolute;
        top: -30px;
        right: 50%;
        z-index: -1;
        -webkit-transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
        -o-transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
        transition: all 500ms cubic-bezier(0.6, 0, 0, 1);
    }
}

/* Footer */
footer {
    background: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(var(--amog-blue-transparent)),
            to(var(--amog-green-transparent))
        ),
        url("../img/airship.png");
    background: -o-linear-gradient(
            top left,
            var(--amog-blue-transparent),
            var(--amog-green-transparent)
        ),
        url("../img/airship.png");
    background: linear-gradient(
            to bottom right,
            var(--amog-blue-transparent),
            var(--amog-green-transparent)
        ),
        url("../img/airship.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 2em;
    padding: 0.5em;
    width: calc(100vw - 4em);
    max-width: 1200px;
    margin: 2em;

    display: -ms-grid;

    display: grid;
    grid-template-areas:
        "logo logo empty"
        "text links social";
    gap: 0.25em;

    .footer__text {
        grid-row: 3;
        grid-column: 1;
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-area: text;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

    .logo {
        grid-row: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: logo;

        & img {
            background-color: var(--amog-black-transparenter);
            -webkit-backdrop-filter: blur(10px) brightness(75%);
            backdrop-filter: blur(10px) brightness(75%);
            padding: 0.5em 1em;
            border-radius: 2em;
            width: 100%;
            max-width: 13em;
            -o-object-fit: cover;
            object-fit: cover;
            position: relative;
            top: 0;
            left: 0;
        }
    }
}

.footer__subsection {
    background-color: var(--amog-black-transparenter);
    -webkit-backdrop-filter: blur(10px) brightness(75%);
    backdrop-filter: blur(10px) brightness(75%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1em;
    border-radius: 2em;
    overflow: visible;

    &:nth-child(2) {
        border-radius: 2em 0.5em 0.5em 2em;
    }

    &:nth-child(3) {
        border-radius: 0.5em;
    }

    &:nth-child(4) {
        border-radius: 0.5em 2em 2em 0.5em;
    }
}

.footer__links {
    grid-row: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: links;
}

/*since when CSS is like this?*/

.footer__link {
    width: auto;
    font-weight: 700;
    color: var(--amog-green);
    -webkit-transition: all 0.25s cubic-bezier(0.6, 0, 0, 1);
    -o-transition: all 0.25s cubic-bezier(0.6, 0, 0, 1);
    transition: all 0.25s cubic-bezier(0.6, 0, 0, 1);

    &:hover,
    &:focus {
        color: var(--amog-blue);
    }
}

.footer__social {
    grid-area: social;
}
