@media prefers-reduced-motion {
    * {
        /*noinspection CssUnknownProperty*/
        -webkit-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}

@media (max-width: 900px) {
    footer {
        grid-template-areas:
            "logo"
            "text"
            "links"
            "social";
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

        .footer__subsection {
            &:nth-child(2) {
                border-radius: 2em 2em 0.5em 0.5em;
            }

            &:nth-child(3) {
                border-radius: 0.5em;
            }

            &:nth-child(4) {
                border-radius: 0.5em 0.5em 2em 2em;
            }
        }
    }

    nav {
        :not(:first-child) {
            display: none;
        }

        #menu {
            position: fixed;
            z-index: 100;
            aspect-ratio: 1/1;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            float: right;
            text-align: right;
        }

        &.responsive {
            & a {
                display: block;
                float: none;
                text-align: left;
            }

            & .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 1;
                background-color: var(--amog-black-transparent);
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
            }
        }
    }

    header {
        height: 60vh;
        gap: 10px;
    }

    button {
        padding: 10px 30px;
        border-radius: 15px;
    }

    header h1,
    header h1 span {
        font-size: 40px;
    }

    .buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;

        & .button,
        & button {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100%;
        }
    }

    .feature {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        border-radius: 20px;

        & img,
        & .lbl {
            width: 100%;
        }

        & .lbl {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            justify-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            & h1,
            & p {
                text-align: center;
                width: 100%;
            }
        }
    }

    /* by far not the best CSS, but it's sus and yet it somehow works */
    .moveToTheLeftIdiots {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        max-width: none;
        flex: 1;
        width: 85%;
        margin: 0;
    }

    .moveToTheLeftIdiots ul {
        list-style-type: none;
    }

    .moveToTheLeftIdiots ul li {
        word-wrap: break-word;
    }

    .sussy-wussy-art {
        margin-top: 20px;
        position: static;
        width: 100%;
        height: auto;
        object-fit: scale-down;
        z-index: auto;
    }
}
