/* sussify, AKA making your pc sus, AKA downloads page */

/*
i admit this is not the best way to make the art fit, but well...
"if it works, don't touch it" - some wise developer, perchance.
*/

/* by far not the best CSS, but it's sus and yet it somehow works */

.alignCorrectlyIdiots {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex: 1;
    max-width: 90%;
    min-height: 450px;
}
.alignCorrectlyIdiots .idiot-container ul {
    list-style-type: none;
}

.alignCorrectlyIdiots .idiot-container ul li {
    word-wrap: break-word;
}

.sussy-art-container,
.sussy-wussy-art {
    height: 400px;
    right: 5%;
    z-index: -1;
}
